<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--Added for Viewing PDF on web
        <section name="pdfStorage" type="TallComponents.Web.Storage.PdfStorageProviderSection, TallComponents.Web.PdfViewer" />-->
  </configSections>
  <appSettings>
    <add key="docFolder" value="~/App_Data/Doc"/>
    <!--Added by Edward 2015/12/04 to Change Folder Structure for documents to YEAR/MONTH/DAY-->
    <add key="excelFolder" value="~/App_Data/Excel"/>
    <add key="helpFolder" value="~/App_Data/Help"/>
    <add key="attachmentFolder" value="~/App_Data/Attachments"/>
    <add key="uploadedExcelFolder" value="~/App_Data/UploadedExcel"/>
    <add key="filesFolder" value="~/Data"/>
    <add key="EmailAttachmentsFolder" value="~/App_Data/Attachments/EmailAttachments"/>
    <add key="cookieExpires" value="90"/>
    <add key="pageSize" value="15"/>
    <add key="Telerik.RadUpload.TempFolder" value="~/Data/Temp"/>
    <add key="passPhrase" value="7422305e-f0d7-4ceb-8a2e-a99e9e45587f"/>
    <add key="saltValue" value="6dc0ece9-6ba5-4646-ac06-e6a35c06f976"/>
    <add key="hashAlgorithm" value="SHA1"/>
    <add key="passwordIterations" value="2"/>
    <add key="initVector" value="e5F6g7@1B2c3D4H8"/>
    <add key="keySize" value="128"/>
    <add key="validReferrers" value="localhost,crisis.hiend.com,192.168.1.67"/>
    <add key="OcrResultFolder" value="~/Data/OcrResult"/>
    <add key="ScannedDocsFolder" value="~/App_Data/ScannedDocs/"/>
    <add key="UploadedDocsFolder" value="~/App_Data/UploadedDocs/"/>
    <add key="SampleForOcrDocsFolder" value="~/App_Data/SampleDocs/"/>
    <add key="SampleOcrResultDocsFolder" value="~/App_Data/SampleDocsOcrResult/"/>
    <!--<add key="DocsForOcrFolder" value="~/App_Data/ForOcr"/>-->
    <add key="DocsForOcrFolder" value="ForOcr"/>
    <!--Added by Edward 2015/12/04 to Change Folder Structure for documents to YEAR/MONTH/DAY-->
    <add key="BarcodeFolder" value="~/App_Data/Barcode"/>
    <add key="SpellCheckLibraryFolder" value="~/Bin"/>
    <!--<add key="RawPageOcrFolder" value="~/App_Data/RawPage"/>-->
    <add key="RawPageOcrFolder" value="RawPage"/>
    <!--Added by Edward 2015/12/04 to Change Folder Structure for documents to YEAR/MONTH/DAY-->
    <add key="OcrDocsFolder" value="~/App_Data/ScannedDocs/[Session_Folder_Name]/OcrDocs"/>
    <add key="DownloadSetFolder" value="~/App_Data/DownloadSet/"/>
    <add key="TempFolder" value="~/App_Data/Temp/"/>
    <add key="WebServiceDocsFolder" value="~/App_Data/WebService"/>
    <!--<add key="OcrLicense" value="MT1TVDc4NTkyNzMxOzI9NTI0NjM3MTIzMTc4OTk0MjYxMTszPUhpZW5kIFNvZnR3YXJlIFB0ZTs0PTk5OTk5OTs1PUZhbHNlOzg9QzZGMzhBNzhBMzA3QTM4QUFCRTg3QkI4MzkxMkQ0NjMwNjlGQzM4NTg1MDA3NUU5MUMwRDg1ODIyNEU5NkYyMDs5PTEuMzAuMC4w"/>-->
    <add key="OcrLicense" value="MD1BZHZhbmNlZDsxPTAwMTc5MyAtIGRldmVsb3BlciBsaWNlbnNlOzI9LTg1ODc5MjM2NjcyMzEwMDUxNDE7Mz1IaWVuZCBTb2Z0d2FyZSBQdGUuIEx0ZDs0PTk5OTk7NT1GYWxzZTs1LjE9RmFsc2U7NS4yPUZhbHNlOzUuMz1GYWxzZTs4PUU4ODkyMjMzOUI2MEY4NEU1RkExMjA4NjBFRjFDM0RDMjAxMjFGMjVFNUEzNjdFNURCRDMzRkU4MzlGNTREMkE7OT0yLjAuMC4w"/>
    <add key="WebServiceUserName" value="ABCDEinterface"/>
    <add key="WebServicePassword" value="abc123"/>
    <add key="DWMSDomain" value="http://heasq2/Go-DWMS/"/>
    <add key="EmailDomain" value="ABCDE.com.ph"/>
    <add key="ABCDECreditEmailAddress" value="ABCDECredit"/>
    <!--<add key="OcrManagerWebService.OcrManager" value="http://heasq2/GO-DWMS/Test/Progress/OcrManager.asmx"/>
    <add key="TestWebSvcRef.TestWebSvc" value="http://heasq2/GO-DWMS/test/webservices/TestWebSvc.asmx"/>
    <add key="LeasWebRef.Leas" value="http://heasq2/GO-DWMS/WebServices/Leas.asmx"/>
    <add key="ABCDEMF.BP27JCMFilerService" value="http://intranet-app.ABCDE.com.ph/BP27WSCMFilingWeb/BP27JCMFilerService"/>-->
    <add key="VerifyDoc.BE01JVerifyDoc" value="http://intranet-app.ABCDE.com.ph/webapp/BE01EBCstmrDocService/services/BE01JVerifyDoc"/>
    <add key="ResaleWebRef.Resale" value="http://localhost:52711/DWMS/WebServices/Resale.asmx"/>
    <add key="SalesWebRef.Sales" value="http://localhost:62051/DWMS/WebServices/Sales.asmx"/>
    <add key="CdbWebRef.Cdb" value="http://localhost:62051/DWMS/WebServices/Cdb.asmx"/>
    <add key="SersWebRef.Sers" value="http://localhost:63315/DWMS/WebServices/Sers.asmx"/>
    <add key="CDBPendingDocWebRef.BE01BCstmrDocRQSTService" value="http://intranet-appdev.ABCDE.com.ph/webapp/BE01EBCstmrDocRQSTServiceWeb/services/BE01BCstmrDocRQST"/>
    <add key="LeasWebRef.Leas" value="http://localhost:60359/DWMSProd/WebServices/Leas.asmx"/>
    <add key="DWMSRedirectToURLDefault" value="NA"/>
    <add key="DWMSServerName" value="localhost"/>
  </appSettings>
  <connectionStrings>
    <!--Enabled Asyn DB access on 6 Apr 2012 by Lexin-->
    <!--<add name="ASPNETDBConnectionString" connectionString="Data Source=HIEND-SERVER001\SQLExpress2008R2;Initial Catalog=DWMSDB;Persist Security Info=True;Asynchronous Processing=true;User ID=sa;Password=3wsXCde4" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ASPNETDBConnectionString" connectionString="Data Source=HEAMS2\SQLEXPRESS;Initial Catalog=DWMSDB;Persist Security Info=True;Asynchronous Processing=true;User ID=sa;Password=P@ssword" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ASPNETDBConnectionString" connectionString="Data Source=HEAMS2\SQLExpress2008;Initial Catalog=DWMSDB;Persist Security Info=True;Asynchronous Processing=true;User ID=sa;Password=P@ssword" providerName="System.Data.SqlClient"/>-->
    <add name="ASPNETDBConnectionString" connectionString="Data Source=FONTZ10\FONTZ;Initial Catalog=GoDWMSDB;Persist Security Info=True;Asynchronous Processing=true;User ID=sa;Password=abc123" providerName="System.Data.SqlClient"/>
    <!--<add name="ASPNETDBConnectionString" connectionString="Data Source=HEASQ3\SQLSERVER2008;Initial Catalog=GODWMSDB;Persist Security Info=True;Asynchronous Processing=true;User ID=sa;Password=P@ssword" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="18000"/>
    <roleManager enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider"/>
        <add connectionStringName="ASPNETDBConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ASPNETDBConnectionString" passwordFormat="Encrypted" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" maxInvalidPasswordAttempts="500" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="15" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <identity impersonate="false"/>
    <machineKey validationKey="7005DD839851A8AD228CA3B30557875A2600397DC7B09A91F5BD6FD0FA98093567E11B7D48FF322BB58D84CEB0BFA85B08DBA177C811466F296C6D987AC726A8" decryptionKey="5A027159E75FE9ABE73ADA0E5C63BDD57F5EAB73FF4C6A8080BD7CFF4D047323" validation="SHA1" decryption="AES"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--Added CustomErrors by Edward 13/02/2014-->
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPages/Default.aspx"/>-->
    <customErrors mode="Off"/>
    <compilation debug="true" batch="false" optimizeCompilations="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Default.aspx" protection="All" timeout="3" name="/" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false"/>
    </authentication>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--Added by Edward EnableViewStateMac=False 2015/09/22 http://blog.wolffmyren.com/2008/03/27/regarding-base-64-trying-to-solve-an-aspnet-issue/ -->
    </pages>
    <httpHandlers>
      <add path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI"/>
    </httpModules>
    <webServices>
      <protocols>
        <!-- Added by Lexin on 6 Apr 2012 to enable Web Service calls from backend code -->
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ProgressModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI"/>
      <!-- Only for IIS7 Starts -->
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="managedHandler"/>
      <!-- Only for IIS7 Ends -->
    </modules>
    <handlers>
      <!-- Only for IIS7 Starts -->
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode,runtimeVersionv2.0"/>
      <!--<add name="Telerik.Web.UI.DialogHandler" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI"/>-->
      <!-- Only for IIS7 Ends -->
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler"/>
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--<network host="his99.ABCDE.com.ph" port="25"/>-->
        <network host="mail.hiend.com" port="25" userName="info@hiend.com" password="S2746369Z"/>
        <!--<network defaultCredentials="false" host="localhost" password="" port="25" userName="" />-->
        <!--<network host="localhost" port="25" />-->
        <!--<network host="HiEnd-PC002" port="25"/>-->
        <!--<network host="hercules" port="25"/>-->
      </smtp>
    </mailSettings>
    <!-- Added by Lexin on 6 Apr 2012 to enable concurrent connections -->
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  <location path="Telerik.RadUploadProgressHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Import">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Search">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Verification">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Completeness">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FileDoc">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IncomeComputation">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EmptyAccess">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Help">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Maintenance">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="" binding="wsHttpBinding" contract="IService">
          <identity>
            <dns value="heasq2"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <!--<pdfStorage defaultProvider="filesystem">
        <providers>
            <clear />
            <add name="filesystem" type="TallComponents.Web.Storage.FileSystemStorageProvider, TallComponents.Web.PdfViewer"
                basePath="~/Data/OcrResult"/>
        </providers>
    </pdfStorage>-->
</configuration>